// IMAGENS 
$bg-1: url("../components/img/bg-1.jpg");
$bg-2: url("../components/img/bg-2.jpg");
$bg-3: url("../components/img/bg-3.jpg");
$bg-4: url("../components/img/bg-4.jpg");

// CORES  

$blackcolor: black;
$blue1: rgb(0, 92, 167);

// FONT SIZE 
$px10: 10px